{% extends "layout.html" %}

{% block main %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <select id="starting" autofocus>
        {% for i in currencies %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <select id="ending">
        {% for i in currencies %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <input id="starting_amount" placeholder="Amount" id="starting_amount" type="text">
    <input id="ending_amount" disabled readonly type="text" placeholder="{{ ending_amount }}">     
</div>
<div>
    <button type="submit" id="submit">Convert</button>
</div>

<div id="chart-container" style="display:none;">
    <canvas id="myChart"></canvas>
</div>

<script>
    let chart = null;

    document.getElementById("submit").addEventListener("click", async () => {
        // Create variables
        let starting_amount = document.getElementById("starting_amount").value;
        let starting = document.getElementById("starting").value;
        let ending = document.getElementById("ending").value;
        
        // Fetch api data from server
        let response = await fetch(`/?starting=${starting}&ending=${ending}&starting_amount=${starting_amount}`);
        let data = await response.json();

        // Edit text value
        document.getElementById("ending_amount").value = data.converted.toFixed(2);
        let exchange_dates = data.exchange_dates;
        let prices = data.prices;

        for (let i in prices) {
            prices[i] = prices[i].toFixed(2);
        }

        const ctx = document.getElementById('myChart');

        if (chart !== null) {   
            chart.destroy();
        }

        // Create the Line Graph
        chart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: exchange_dates,
            datasets: [{
                label: 'Price at the time in £',
                data: prices,
                borderWidth: 1
            }] 
            },
            options: {
            scales: {
                y: {
                beginAtZero: false
                }
            }
            }
        })

        document.getElementById("chart-container").style.display = "block";
        });
</script>

These rates have been updated as recently as {{ time }}
{% endblock %}